*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container
{
  width: 500px;
  height:800px;
  background-color: rgb(9, 74, 196);
  margin-top: 60px;
  border-radius: 25px;
  box-shadow: 10px 10px 20px 20px rgb(130, 132, 138);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
body
{
 
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}
.cir
{
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-color: brown;
  border: 5px solid white;
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle
{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.head
{
  font-size:90px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
.but
{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
button
{
  height: 200px;
  width: 200px;
  font-size:50px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid white;
  color:white;
  background-color: gray;
  border-radius: 50%;
}
.cold
{
  background-color: rgb(79, 79, 246);
}
.hot
{
  background-color: rgb(255, 170, 0);
}
